.DS_Store
.atom/
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
/coverage
flutter/.dart_tool/

# Dependencies
bower_components
node_modules
vendor

# Directoy with locally saved Firebase application ID etc.
/firebase/www/__/

# firebase-bolt conversion tool output.
/firebase/database.rules.json

# Google Play (and other usage) deploy key
/flutter/android/app/play-store-service-account.json

# Intellij
*.iml
.idea

# Editor temporary files
*.swp

# Local configuration file (sdk path, etc)
local.properties

# firebase-tools npm package output
firebase-debug.log

# https://docs.fastlane.tools/best-practices/source-control/
# fastlane specific
/flutter/fastlane/report.xml
# deliver temporary files
/flutter/fastlane/Preview.html
# snapshot generated screenshots
/flutter/fastlane/screenshots
# scan temporary files
/flutter/fastlane/test_output
# keystore deployed by CI
/flutter/android/app/delern.jks
# TODO(dotdoom): move all .gitignores here
