.DS_Store
.atom/
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
/coverage

# Dependencies
bower_components
node_modules
vendor

# Directoy with locally saved Firebase application ID etc.
/firebase/www/__/

# firebase-bolt conversion tool output.
/firebase/database.rules.json

# Intellij
*.iml
.idea

# Editor temporary files
*.swp

# Local configuration file (sdk path, etc)
local.properties

# firebase-tools npm package output
firebase-debug.log

# fastlane output report
/fastlane/report.xml
