<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2017 Katarina Sheremet

This file is part of Delern.

Delern is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

Delern is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with  Delern.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.dasfoo.delern">

    <!-- Some Chromebooks don't support touch. Although not essential,
         it's a good idea to explicitly include this declaration.
          https://developer.android.com/topic/arc/index.html-->
    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false" />

    <!-- Required permission for App measurement(Firebase Analytics) to run. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DelernApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".listdecks.DelernMainActivity"
            android:label="${appName}"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".signin.SignInActivity"/>

        <service
            android:name=".notifications.DelernFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".notifications.DelernFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".listcards.EditCardListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".listdecks.DelernMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dasfoo.delern.listdecks.DelernMainActivity"/>
        </activity>
        <activity
            android:name=".addupdatecard.AddEditCardActivity"
            android:parentActivityName=".listcards.EditCardListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dasfoo.delern.listcards.EditCardListActivity"/>
        </activity>
        <activity
            android:name=".previewcard.PreEditCardActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".listcards.EditCardListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dasfoo.delern.listcards.EditCardListActivity"/>
        </activity>
        <activity
            android:name=".learncards.LearningCardsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".listdecks.DelernMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dasfoo.delern.listdecks.DelernMainActivity"/>
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
